body{
    background: url(bg.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.contact-form{
    display: grid;
    grid-template-columns: auto auto;
}

.header h3{
    text-align: center;
    color: white;
    letter-spacing: 0.3em;
    font-size: 2em;
    text-transform: uppercase;
}

.header p{
    text-align: center;
    letter-spacing: 0.3em;
    color: white;
    font-size: 1.5em;
}

.contact-info{
    font-size: 2em;
    color: white;
    letter-spacing: 0.3em;
    line-height: 2em;
}

input{
    padding: 0.6em;
    margin: 0.6em;
    width: 70%;
    background-color: black;
    opacity: 0.7;
    border: none;
    outline: none;
    color: white;
}

input::placeholder{
    color: white;
}

textarea{
    padding: 0.6em;
    margin: 0.6em;
    width: 70%;
    background-color: black;
    color: white;
    opacity: 0.7;
    border: none;
    outline: none;
}

textarea::placeholder{
    color: white;
}

.button{
    width: 30%;
    background: none;
    padding: 0.25em;
    outline: none;
    font: 1em;
    font-weight: bold;
    letter-spacing: 0.3em;
    text-align: center;
    cursor: pointer;
    border: 0.1em solid white;
    color: white;
    align-items: center;
}

.button:hover{
    border: 0.1em solid white;
    color: white;
    cursor: pointer;
}

nav{
    padding: 1em;
    opacity: 0.5;
    width: 100%;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.4em;
}

nav ul li{
    position: relative;
}

nav > ul > li{
    position: relative;
}

nav ul > li{
    line-height: 1.9em;
}

nav ul ul{
    position: relative;
    display: none;
    background-color: black;
    opacity: 0.5;
    padding: 0;
    width: 100%;
    text-align: left;
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 1em;
}

nav a:hover{
    border-top: 0.1em solid white;
}

ul{
    list-style-type: none;
    text-align: center;
}

nav > ul > li{
    position: relative;
}

nav > ul > li:hover ul{
    display: block;
    margin: 1em;
}

.shownav{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.9em;
    height: 1.3em;
}

.shownav .bar{
    height: 0.2em;
    width: 100%;
    background-color: white;
    border-radius: 0.6em;
}

footer{
    color: white;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.4em;
}

@media (max-width: 800px){
    nav ul{
        width: 100%;
        flex-direction: column;
        align-self: flex-start;
        flex-direction: column;
        display: none;
    }

    .shownav{
        display: flex;
    }

    nav li{
        text-align: center;
    }

    .contact-info{
        font-size: 1em;
    }

    .contact-form{
        display: block;
        width: 100%;
        text-align: center;
    }

    .contact-form .button{
        width: 60%;
    }
}