body{
    margin: 0em;
    padding-left: 0em;
    background: url(Images/bg.jpg);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    margin: 0;
    font-weight: 400;
    color: white;
}

p{
    color: white;
}

li{
    color: white;
}

h2{
    margin: 0;
    font-weight: bold;
    display: inline;
}

.box{
    background: black;
    opacity: 0.8;
    width: 70%;
    padding: 1.5em;
    border-radius: 0.5rem;
}

.header{
    display: grid;
    grid-template-columns: 40% 60%;
}

.header-left{
    display: grid;
    align-items: center;
    font-size: 2rem;
}

.first-name{
    font-size: 1.5em;
    margin: 0;
}

.last-name {
    font-size: 1.4em;
    font-weight: 100;
    margin: 0;
}

.header-right{
    width: 100%;
    display: grid;
    justify-items: end;
}

.header-right p{
    display: inline;
}

.grey{
    background: grey;
    color: white;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

nav{
    grid-area: nav;
    padding: 1em;
    opacity: 0.5;
    width: 100%;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.4em;
}

nav ul li{
    position: relative;
}

nav > ul > li{
    position: relative;
}

nav ul > li{
    line-height: 30px;
}

nav ul ul{
    position: relative;
    display: none;
    background-color: black;
    opacity: 0.5;
    padding: 0;
    width: 100%;
    text-align: left;
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 1em;
}

nav a:hover{
    border-top: 0.1em solid white;
    border-width: auto;
}

ul{
    list-style-type: none;
    text-align: center;
}

nav > ul > li{
    position: relative;
}

nav > ul > li:hover ul{
    display: block;
    margin: 1em;
}

.shownav{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.shownav .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

footer{
    color: white;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.4em;
}

@media (max-width: 800px){
    nav ul{
        width: 100%;
        flex-direction: column;
        align-self: flex-start;
        flex-direction: column;
        display: none;
    }

    .shownav{
        display: flex;
    }

    nav li{
        text-align: center;
    }

    .box{
        width: 60%;
    }

    .header-left{
        font-size: 1.5em;
    }
    .header-right{
        width: 100%;
        font-size: 0.7em;
    }

}