body{
    margin: 0em;
    background: url(Images/bg.jpg);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    max-width: 1200px;
    padding: 1em;
    padding-left: 3em;
    margin: auto;
    background: transparent;
    overflow: auto;
}
.gallery{
    margin: 0.2em;
    float: left;
    width: 24em;
}

.gallery img{
    height: 16em;
    width: 100%;
    border-radius: 0.3rem;
}

.gallery img:hover{
    cursor: pointer;
}

.desc{
    padding: 1em;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font: bold;
}

nav{
    padding: 1em;
    opacity: 0.5;
    width: 100%;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.4em;
}

nav ul li{
    position: relative;
}

nav > ul > li{
    position: relative;
}

nav ul > li{
    line-height: 1.9em;
}

nav ul ul{
    position: absolute;
    display: none;
    background-color: black;
    opacity: 0.5;
    padding: 0;
    width: 100%;
    text-align: left;
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 1em;
}

nav a:hover{
    border-top: 0.1em solid white;
}

ul{
    list-style-type: none;
    text-align: center;
}

nav ul ul{
    position: relative;
    display: none;
    background-color: black;
    color: white;
    padding: 0;
    width: 100%;
}

nav > ul > li{
    position: relative;
}

nav > ul > li:hover ul{
    display: block;
    margin: 1em;
}

.shownav{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.9em;
    height: 1.3em;
}

.shownav .bar{
    height: 0.2em;
    width: 100%;
    background-color: white;
    border-radius: 0.7em;
}

footer{
    color: white;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.4em;
}

@media (max-width: 800px){
    nav ul{
        width: 100%;
        flex-direction: column;
        align-self: flex-start;
        flex-direction: column;
        display: none;
    }

    .shownav{
        display: flex;
    }

    nav li{
        text-align: center;
    }
}