body{
    margin: 0em;
    background: url(Images/bg.jpg);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    height: 100vh;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 0.2fr 1.5fr 0.1fr;
    grid-template-areas: "nav nav nav"
                         "header header header"
                         "footer footer footer";
}

header{
    grid-area: header;
    text-align: center;
    color: white;
    font: bolder;
    font-size: 3em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

header p1{
    font-size: 0.6em;
    letter-spacing: 0.3em;
}

nav{
    grid-area: nav;
    padding: 1em;
    opacity: 0.5;
    width: 100%;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.4em;
}

nav ul li{
    position: relative;
}

nav > ul > li{
    position: relative;
}

nav ul > li{
    line-height: 30px;
}

nav ul ul{
    position: relative;
    display: none;
    background-color: black;
    opacity: 0.5;
    padding: 0;
    width: 100%;
    text-align: left;
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 1em;
}

nav a:hover{
    border-top: 0.1em solid white;
    border-width: auto;
}

ul{
    list-style-type: none;
    text-align: center;
}

nav > ul > li{
    position: relative;
}

nav > ul > li:hover ul{
    display: block;
    margin: 1em;
}

.shownav{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.shownav .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

footer{
    color: white;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.4em;
}

@media (max-width: 800px){
    nav ul{
        width: 100%;
        flex-direction: column;
        align-self: flex-start;
        flex-direction: column;
        display: none;
    }

    .shownav{
        display: flex;
    }

    nav li{
        text-align: center;
    }

    header{
        font-size: 2em;
    }

    header p1{
        font-size: 0.5em;
    }
    
}