body{
    background: url(Images/circuitboard.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    height: 100vh;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 0.2fr 1.5fr 0.2fr;
    grid-template-areas: "nav nav nav"
                         "header header header"
                         "footer footer footer";
}

header{
    grid-area: header;
    text-align: center;
    font-size: 2em;
}

header p1{
    font-size: 1em;
}

nav{
    grid-area: nav;
    padding: 1em;
}

nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

nav ul li{
    position: relative;
}

nav > ul > li{
    position: relative;
}

nav ul ul{
    position: absolute;
    display: none;
    background-color: green;
    padding: 0;
    width: 100%;
    text-align: left;
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: underline;
    text-transform: uppercase;
    padding: 1em;
}

nav a:hover{
    color: lightblue;
}

footer{
    grid-area: footer;
    background: brown;
}

ul{
    list-style-type: none;
    text-align: center;
}

nav ul ul{
    position: absolute;
    display: none;
    background-color: green;
    padding: 0;
    width: 100%;
}

nav > ul > li{
    position: relative;
}

nav > ul > li:hover ul{
    display: block;
    margin: 10px;
}

.contact-form{
    display: grid;
    grid-template-columns: auto auto;
}

.container{
    width: 90%;
    margin: 0px;
    overflow: hidden;
}

.contact-info{
    font-size: 20px;
    letter-spacing: 5px;
    color: white;
    line-height: 50px;
    margin-left: 50px;
}

input{
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: white;
    opacity: 0.7;
    border: none;
    outline: none;
    border-radius: 5px;
}

textarea{
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 200px;
    background-color: white;
    opacity: 0.7;
    border: none;
    outline: none;
    border-radius: 5px;
}

.button{
    cursor: pointer;
}

